---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Summary | trimspace }}

## Example Usage

```terraform
output "example" {
  description = "The value of a given environment variable."
  value       = provider::utilities::get_env("GOPATH")
}
```

## Signature

{{ .FunctionSignatureMarkdown | trimspace }}

## Arguments

{{ .FunctionArgumentsMarkdown | trimspace }}
