---
layout: ""
page_title: "Utility Functions Provider"
description: |-
  The Utility Functions provider provides useful functions to a Terraform project.
---

# Utility Functions Provider

The Utility Functions provider is used to add utility functions to a Terraform
project. The provider has no configuration.

## Example Usage

**versions.tf**
{{ tffile "examples/functions/versions.tf" }}

**providers.tf**
{{ tffile "examples/functions/providers.tf" }}

{{ .SchemaMarkdown | trimspace }}

No configuration schema required.
